.first_svgCont {
    width: 100%;
    max-width: 1080px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    min-height: 500px !important;
}

.Line1 {
    position: absolute;
    top: -60px;
    right: calc(5% - 2%);
    /* left: 50%;
    transform: translate(800%); */
}

.Line2 {
    margin: 0 auto;
}

.sectionNeed {
    margin-top: 100px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionNeed__Left {}

.sectionNeed__Right {
    display: flex;
    flex-direction: column;

}

.sectionNeed__RightText {
    font-family: 'estedad';
    font-weight: 500;
    line-height: 50px;
    max-width: 600px;
    color: #545658;
}

.simonIntroduceSection {
    position: relative;
}


.simonIntroduceSection__Logo {
    position: absolute;
    top: 120px;
    right: 30%;
    width: 15vw;
}

.simonIntroduceSection__orangeArrow {
    position: absolute;
    top: 100px;
    right: 40%;
    width: 15vw;
}

.simonIntroduceSection__paragraph {
    color: white;
    position: absolute;
    top: 100px;
    right: 52%;
    width: 40vw;
    line-height: 2.17;
    /* max-width: 650px; */
}

.servicesSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 2rem;
    padding: 4rem;
}

.servicesSection__threeCont{
    position: relative;
    z-index: 1;
    width: 25%;
    min-height: 280px;
    padding: 2.6rem;
    width: 380px;
    background-color: white;
    box-shadow: 3px 3px 30px rgba(23, 93, 227, 0.25);
    border-radius: 35px 35px 85px 85px;
    color: #545658;
    text-align: center;
}

.servicesSection__icon{
    width: 140px;
    height: 124px;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);

    background: #FFBA3B;
    border-radius: 35px 35px 75px 75px;
    display: flex;
    justify-content: center;align-items: center;
}

.servicesSection__title{
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 1.4rem;
}



@media (max-width: 1000px) {
    .simonIntroduceSection__p{
        font-size: 0.5rem;
    }
}