.cont{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.GridCont{
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);

}
.viewMore{
    display: block;
    margin: auto;
    background-color: white;
    padding: 1rem;
    color: #FFBA3B;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    font-family: 'koolak';
    border: 1px solid #175DE3;
    border-radius: 1rem;
    margin-top: 2rem;
    text-align: center;
}

@media (max-width:1380px){
    .GridCont{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1040px){
    .GridCont{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .GridCont > div{
        display: flex;
        justify-self: center;
    }
}
@media (max-width:700px){
    .GridCont{
        grid-template-columns: repeat(1,1fr);
    }
}