.cont {
    position: relative;
    margin-top: 15rem;
    min-height: 550px;
    overflow: hidden;
}

.right {
    background-color: #FFBA3B;
    width: 100%;
    min-height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4rem 8%;
}

.logo {
    width: 220px;
}

.logo img {
    width: 100%;
    display: block;
}

.introduce {
    margin-top: 1.5rem;
    max-width: 420px;
    color: white;
    line-height: 2;
}

.left {
    position: absolute;
    inset: 0;
    right: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    pointer-events: none;

    background-image: url("../../public/footerBack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}

.left__list {
    pointer-events: auto;

    display: flex;
    justify-content: space-between;

    width: 45%;
    margin-left: 8%;
}

.left__listCont {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    color: white;
    font-family: estedad;
}

.left__listCont div {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

@media (max-width:992px){

    .cont{
        min-height: auto;
    }

    .right{
        padding:3rem 5%;
    }

    .introduce{
        max-width:320px;
    }

    .left{
        background-size:70%;
    }

    .left__list{
        width:60%;
        margin-left:5%;
    }

}
