.cont{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    padding: 4rem 2rem;
}

.firstText{
    background: linear-gradient(180deg, #FFBA3B 0%, rgba(255, 250, 250, 0.82) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-family: var(--font-dynapuff);
}
.secondText{
    color: #175DE3;
    font-weight: 900;
    font-size: 2.2rem;
    transform: translateY(-2.2rem);
}
.image{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translateY(50%);
}